<div class="container w-50 p-5 mt-5 text-center" style="background-color: rgba(0, 0, 0, 0.686);color: white; border-radius: 25px; border-color: whitesmoke;" >
    <h1>Sign Up</h1>
    <form action="">
        <div class="mt-3 p-2">
            <input class="form-control" id="unamid" name="usern1" type="text" placeholder="Enter Username">
        </div>
        <div class="mt-3 p-2">
            <input class="form-control" id="acid" name="acnum1" type="text" placeholder="Enter acnum">
        </div>
        <div class="mt-3 p-2">
            <input class="form-control" id="psw" name="paswrd1" type="password" placeholder="Enter Password">
        </div>
        <div class="mt-3 p-2">
            <button type="button" (click)="register()" class="btn btn-warning">Register</button>
        </div>

    </form>
</div>
